[submodule "site-lisp/web-mode"]
	path = site-lisp/web-mode
	url = git@github.com:mitc0185/web-mode.git
[submodule "site-lisp/php-mode"]
	path = site-lisp/php-mode
	url = git@github.com:mitc0185/php-mode.git
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = git@github.com:mitc0185/js2-mode.git
[submodule "site-lisp/slime"]
	path = site-lisp/slime
	url = git@github.com:mitc0185/slime.git
[submodule "site-lisp/swank-js"]
	path = site-lisp/swank-js
	url = git@github.com:mitc0185/swank-js.git
[submodule "site-lisp/zencoding-mode"]
	path = site-lisp/zencoding-mode
	url = git@github.com:mitc0185/zencoding.git
[submodule "site-lisp/yaml-mode"]
	path = site-lisp/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "site-lisp/occultation-mode"]
	path = site-lisp/occultation-mode
	url = git@github.com:mitc0185/occultation-mode.git
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = git@github.com:mitc0185/markdown-mode.git
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "site-lisp/groovy-mode"]
	path = site-lisp/groovy-mode
	url = git@github.com:russel/Emacs-Groovy-Mode.git
