[submodule "site-lisp/web-mode"]
	path = site-lisp/web-mode
	url = git@github.com:mitc0185/web-mode.git
[submodule "site-lisp/php-mode"]
	path = site-lisp/php-mode
	url = git@github.com:mitc0185/php-mode.git
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = git@github.com:mitc0185/js2-mode.git
[submodule "site-lisp/slime"]
	path = site-lisp/slime
	url = git@github.com:mitc0185/slime.git
[submodule "site-lisp/swank-js"]
	path = site-lisp/swank-js
	url = git@github.com:mitc0185/swank-js.git
